.app {
  color: crimson;
  font-size: 5rem;

  border: 10px solid var(--variable);

  @mixin screen-medium {
    background-color: tan;
  }
  @mixin screen-large {
    background-color: salmon;
  }

  @mixin theme dark {
    /* color: blue; */
  }
}

.test {
}
